@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 站酷;
    src: url(../fonts/ZHANKUKUAILETI2016XIUDINGBAN-1.TTF);
}

@font-face {
    font-family: 京华老宋体;
    src: url(../fonts/KingHwa_OldSong.ttf);
}

@font-face {
    font-family: 思源黑体;
    src: url(../fonts/SiYuanHeiTi_Heavy.ttf);
}

body{
	margin: 0
}


[v-cloak] {
  display: none;
	
}
select{
	height: 37px
}

.pt_bg{
/*	    padding: 0 4%;*/
/*		    padding: 3% 3% 0 3%;*/
/*	    margin-top: -15px;*/
		    background-size: cover;
    background-position: center;
	    background-repeat: no-repeat;
}

.title{
	color: white
}

.titleimg{
/*	background-color: antiquewhite*/
	    text-align: center;
    margin-top: 12%;
/*    margin-top: 30px;*/
}

.name{
	background-color:whitesmoke
}

.book{
	margin-top: 10%;
	text-align: right;
	height: 60%;
}

.bookpos{
/*	margin: 50px 0px*/
/*	margin-bottom: 3%;*/
	height: 11.1%;
}
.book_test{
/*	background-color: whitesmoke;*/
	padding: 1% 3%;
	color: white;
/*	margin:  20px 0px */
}

.list_test{
color: antiquewhite;
    margin: 0px 20px;
    position: relative;
    height: 14%;
}


.full{
    position: fixed;
    background-color: #575757;
    width: 230px;
    height: 43px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 43px;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
}

.Screenimg{
	position: fixed;
	left: 0px;
}

.p_one{
/*	background-color: cadetblue;*/
	background-image: url("../img/title/bg1.webp");
	    background-size: cover;
    background-position: center;
	text-align: center;
	
}

.p_two{
	background-image: url("../img/title/bg2.webp");
	    background-size: cover;
    background-position: center;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* .p_three{
background-image: url("../img/title/bg3.png");
	    background-size: cover;
    background-position: right;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.three_logo{
	position: relative;
    top: 30px;
    text-align: center;
    width: 100%;
}

.p_four{
	/* background-image: url("../img/title/choosebg4.png"); */
		    background-size: cover;
    background-position: center;
/*	    padding-top: 15px;*/
}

#app{
	overflow: hidden;
	
}

.fullPageContainer {
  width: 100%;
  height: 100vh;
  transition: all linear 0.5s;
/*
	text-align: center;
    line-height: 43px;
*/
} 

.timu_box{
	margin-bottom: 35px;padding-top: 120px;height: 85px;
	display: flex;
    flex-wrap: wrap;
/*	    justify-content: center;*/
    align-items: center;
}

.timu{
font-size: 28px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color: black;
    line-height: 42px;
    /* text-shadow: 2px 5px 9px #332E24; */
    margin-left: 15px;
}

.banner{
    display: flex;
    justify-content: center;
font-size: 13px;
    font-family: "思源黑体", "PingFang SC";
    font-weight: 400;
    line-height: 18px;
    color: rgba(255,255,255,0.8);
    /* letter-spacing: 5px; */
    opacity: 1;
    text-align: center;
    position: relative;
    top: 30px;
}

.banner img {
    width: 5%;
}

.logo_title{
text-align: center;
    margin-top: 10%;
}

.choose_botton{
	display: flex;
	margin: 0px 10px 0 10px
}

.choose_botton img{
	margin-right: 12px ;
	max-width: 80px
}

.under{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0px 3%;
}

.item{
/*	width: 100%;*/
    margin: 2px;
    padding: 6px 0 4px 0;
    background-size: cover;
    text-align: center;
    color: black;
}

.circle{
	background-color: #DDCF4C;
    border-radius: 50%;
    color: black;
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
    transform: translate(-45%, -50%);
/* 
    top: -10px;
    left: -10px;
*/
}

.item .str {
    font-size: 1.5em;
    margin: 0;
    font-family: "京华老宋体", "华文行楷";
}

.userbox{
    background-image: url("../img/title/box_bg.webp");
    width: 375px;
    height: 522px;
    background-size: contain;
    position: relative;
    top: 7%;
    margin: 0 auto;
}


.userthing{
display: flex;
    justify-content: space-between;
    margin: 0 20px;
    border-bottom: 1px solid #afb1aa;
    padding: 10px;
}

.boxlist{
    position: relative;
    top: 120px;
}

.usertitle{
	    font-size: 24px;
    text-align: center;
}

.into{
margin: 20px;
    text-align: center;
    background-color: #fada95;
    height: 40px;
    border-radius: 5px;
    line-height: 45px;
}

.userbutton{
    background-color: #e0e3de;
    border: 0;
    width: 175px;
    padding: 10px;
	color: black
}

.userleft{
	line-height: 37px;
}
  
.line select {
    display: inline-block;
    margin: 2px 12px 2px 0;
	max-width: 80px;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 76%; 
    border-radius: 5px;
    text-align: center;
    background-color: #fff0d5;
    color: #be7c50;
    border: 0;
    font-family: "站酷";
    font-size: 16px;
}

.btn {
    position: relative;
    display: flex;
}

.btntext {
    display: inline-block;
    margin: 2px 12px 2px 0;
	max-width: 80px;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 76%; 
    border-radius: 5px;
    text-align: center;
    background-color: #fff0d5;
    color: #be7c50;
    border: 0;
    font-family: "站酷";
    font-size: 16px;
}

.advice{
    font-size: 12px;
    font-family: PingFang SC;
    text-align: center;
    color: rgba(255, 255, 255, 0.82);
    letter-spacing: 1px;
    margin: 0 auto;
}

.shupai{
	    width: 12px;
    height: 241px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 300;
    line-height: 16px;
    color: rgba(255,255,255,0.82);
    letter-spacing: 1px;
    opacity: 1;
    position: fixed;
    right: 10px;
}

.imgbox{
	height: 54%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin-top: 4%;
	    text-align: left;
}


.save_warn{
    height: 50px;
    background: rgba(85,85,85,0.85);
    font-family: Book Antiqua;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 2px;
    position: fixed;
    z-index: 999;
    width: 100%;
    text-align: center;
    line-height: 50px;
}


.real_bg{
	z-index: -222;
	position: fixed;
	width: 100%
}
