<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--手机自适应大小 -->
    <meta
      name="viewport"
      content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>拾零成诗</title>
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div id="app" :style="{ height: windowHeight}" ref="fullPage" v-cloak>
      <div class="fullPageContainer" ref="fullPageContainer">
        <!--			第一页-->
        <div class="p_one" v-show="fullpage.current >= 1" :style="{width:windowWidth,height:windowHeight} ">
          <audio
            src="./audio/BGM.mp3"
            type="audio/mpeg"
            id="audios"
            loop
          ></audio>
          <!--
				<audio  loop="loop" autoplay="autoplay" id="musicAudio" >
     				 <source src="http://xuexiziliaoceshi.oss-cn-hangzhou.aliyuncs.com/bgm.MP3" type="audio/mpeg"/>
				</audio>
-->
          <!-- 170标志 -->
          <img
            src="./img/title/author.webp"
            style="margin-top: 60px; width: 250px"
          />
          <!-- 标题 -->
          <img
            src="./img/title/title.webp"
            style="margin-top: 15%; width: 75%"
          />
          <!-- 按钮 -->
          <img
            src="./img/ui/start.webp"
            @click="next()"
            style="width: 30%; top: 10%; position: relative"
          />
        </div>

        <!--			第2页-->
        <div class="p_two" v-show="fullpage.current >= 1" :style="{width:windowWidth,height:windowHeight}">
          <div class="userbox">
            <div class="boxlist">
              <div class="usertitle">基本信息填写</div>
              <div style="margin-top: 40px">
                <div class="userthing">
                  <div class="userleft">
                    <span style="color: red">*</span>
                    <span>年级</span>
                  </div>
                  <div>
                    <select
                      class="userbutton"
                      style="width: 195px"
                      v-model="inputList.user_in"
                      @change="createClassList()"
                    >
                      <option selected disabled hidden>请选择年级</option>
                      <option v-for="(item,index) in user_in">{{item}}</option>
                    </select>
                  </div>
                </div>
                <div class="userthing">
                  <div class="userleft">
                    <span style="color: red">*</span>
                    <span>班级</span>
                  </div>
                  <div>
                    <select
                      class="userbutton"
                      style="width: 195px"
                      v-model="inputList.overyear"
                    >
                      <option selected disabled hidden>请选择班级</option>
                      <option v-for="(item,index) in overyear">{{item}}</option>
                    </select>
                  </div>
                </div>

                <div class="userthing">
                  <div class="userleft">
                    <span style="color: red">*</span>
                    姓名/昵称
                  </div>
                  <input
                    maxlength="10"
                    class="userbutton"
                    type="text"
                    placeholder="请输入姓名"
                    v-model="inputList.name"
                  />
                </div>
              </div>
              <div
                class="into"
                @click="GoToUser()"
                :style="{opacity:input_warnning == '立即提交' && inputList.name !='' ? '1' :'0.45'}"
              >
                {{input_warnning}}
              </div>
              <!--						<button  @click="next()">完成</button>-->
            </div>
          </div>
          <div style="text-align: center; width: 100%">
            <img style="width: 163px" src="./img/title/author.webp" />
          </div>
        </div>

        <!--			第4页-->
        <div class="p_four" v-show="fullpage.current >= 2" :style="chooseBgStyle">
          <div class="banner">福州八中学生会特别企划</div>
          <div class="logo_title">
            <img src="./img/title/title_long.webp" style="width: 77%" />
          </div>
          <div class="imgbox">
            <div
              style="
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                margin: 0px 35px 0 20px;
              "
            >
              <template v-for="(line, l_index) in chooseList[choosePage]">
                <div
                  v-for="(item, index) in line"
                  class="item"
                  :style="item.style"
                  @click="choose(item, choosePage, l_index, index)"
                >
                  <div
                    class="circle"
                    v-if="poemList[currentLine].items.lastIndexOf(item) !== -1"
                  >
                    {{poemList[currentLine].items.lastIndexOf(item) + 1}}
                  </div>

                  <div class="str">{{item.str}}</div>
                </div>
              </template>
            </div>
          </div>

          <div :style="{top:choose_botton_top}" style="position: fixed">
            <div class="choose_botton">
              <div class="shang" @click="uplist()">
                <img
                  src="./img/ui/up.webp"
                  :style="{opacity:choosePage !== 0 ? '1' :'0.7'}"
                />
              </div>
              <div class="line" style="position: relative">
                <img src="./img/ui/btnbg.webp" />
                <select v-model="choosePage">
                  <option v-for="i in chooseList.length" :value="i-1">第{{i}}页</option>
                </select>
              </div>
              <div class="xia" @click="downlist()">
                <img
                  src="./img/ui/down.webp"
                  :style="{opacity:choosePage !== chooseList.length-1 ? '1' :'0.7'}"
                />
              </div>
              <div class="line" style="position: relative">
                <img src="./img/ui/btnbg.webp" />
                <select v-model="currentLine">
                  <option v-for="i in 8" :value="i-1">第{{i}}行</option>
                </select>
              </div>
              
            </div>

            <div class="choose_botton" style="margin-top: 2px; justify-content: space-between;">
              <div @click="doimg()">
                <img
                  src="./img/ui/build.webp"
                  style="max-width: 240px; height: 32.3px; margin-right: 12px;"
                  :style="{opacity:isPoemed ? '1' :'0.7'}"
                />
              </div>
              <div class="clean" @click="clean()">
                <img
                  src="./img/ui/clear.webp"
                  style="max-width: 80px; height: 32.3px; margin-right: 12px;"
                  :style="{opacity:poemList[currentLine].len !== 0 ? '1' :'0.7'}"
                />
              </div>
            </div>
            
            <div class="advice">一行最多八个字，最多八行</div>
          </div>
          <div class="shupai" :style="{top:shupai_top}">
            词块由学生会生活部提供
          </div>
          <span class="full" :style="{top:warnning_top}" v-show="Iffull==1"
            >版面有限,请换行</span
          >
        </div>

        <!--		拼贴页面-->
        <div v-show="fullpage.current >= 3">
          <img
            crossorigin="anonymous"
            :src="pt_bg_url"
            :style="{height:windowHeight,top:noreal_bg_top}"
            class="real_bg"
          />
          <div
            class="pt_bg"
            style="padding: 0 4%"
            :style="{height:windowHeight }"
            :v-if="Screenimg == ''"
          >
            <div class="banner">福州八中学生会特别企划<img height="100%" src="./img/title/logo.webp" alt="" /></div>
            <div class="titleimg">
              <img src="./img/title/title_long.webp" style="width: 77%" />
            </div>

            <div class="book">
              <div
                class="bookpos"
                v-for="(line, l_index) in poemList"
                style="display: flex; display: -webkit-flex;"
                :style="{'justify-content': l_index%2 === 0? 'flex-start': 'flex-end',}"
              >
                <div
                  v-for="(item, index) in line.items"
                  class="item"
                  :style="item.style"
                >
                  <div class="str">{{item.str}}</div>
                </div>
              </div>
              <div
                class="bookpos"
                style="text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.62)"
              >
                <div class="book_test">
                  by {{inputList.name}}
                  <span v-show="inputList.user_in != '不显示年级' "
                    >({{inputList.user_in}}{{inputList.overyear != '不显示班级'?
                    inputList.overyear: ''}})</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div
            style="top: 3380px; position: fixed; left: 0px; right: 0px"
            :style="{top:under_top}"
          >
            <div class="under">
              <div class="again" v-show="botton_show==0" @click="pre()">
                <img src="./img/ui/restart.webp" style="width: 100px" />
              </div>
              <!--						<div class="save" v-show="Screenimg ==''" @click="handleScreenshot()"><img src="https://xuexiziliaoceshi.oss-cn-hangzhou.aliyuncs.com/img/%E4%BF%9D%E5%AD%98%E5%88%86%E4%BA%AB.png" style="width: 100px"></div>-->
              <div class="save" v-show="botton_show==0" @click="handleScreenshot()">
                <img src="./img/ui/over.webp" style="width: 100px" />
              </div>
              <div class="change" v-show="botton_show==0" @click="getbg()">
                <img src="./img/ui/change.webp" style="width: 100px" />
              </div>
            </div>
          </div>

          <div
            class="save_warn"
            :style="{top:save_top}"
            v-show="Screenimg != ''"
          >
            『长按』可将海报保存至相册
          </div>
          <img
            class="Screenimg"
            :src="Screenimg"
            alt="截图"
            :style="{width:windowWidth, height:windowHeight, top:Screenimg_top}"
            v-show="Screenimg !=''"
          />
        </div>

        <!--		实际的截图页面-->
        <div ref="faultTree" v-show="fullpage.current >= 3">
          <img
            crossorigin="anonymous"
            :src="pt_bg_url"
            :style="{height:windowHeight,top:real_bg_top}"
            class="real_bg"
          />
          <div
            class="pt_bg"
            style="padding: 0 4%"
            :style="{height:windowHeight }"
          >
            <div class="banner">福州八中学生会特别企划<img height="100%" src="./img/title/logo.webp" alt=""></div>
            <div class="titleimg">
              <img src="./img/title/title_long.webp" style="width: 77%" />
            </div>

            <div class="book">
              <div
                class="bookpos"
                v-for="(line, l_index) in poemList"
                style="display: flex; display: -webkit-flex;"
                :style="{'justify-content': l_index%2 === 0? 'flex-start': 'flex-end',}"
              >
                <div
                  v-for="(item, index) in line.items"
                  class="item"
                  :style="item.style"
                >
                  <div class="str">{{item.str}}</div>
                </div>
              </div>
              <div
                class="bookpos"
                style="text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.62)"
              >
                <div class="book_test">
                  by {{inputList.name}}
                  <span v-show="inputList.user_in != '不显示年级' "
                    >({{inputList.user_in}}{{inputList.overyear != '不显示班级'?
                    inputList.overyear: ''}})</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <script src="./js/utils/html2canvas.min.js"></script>
    <script src="js/items/item.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
    
  </body>
</html>
